*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
*.ilg
*.ind
*.maf
*.mtc
*.mtc1
*.synctex.gz
.directory
.meta
.deps
*.out
*.bak
*.bbl
*.blg
*.lof
*.lot
*.run.xml
*blx.bib
*.cb*
*~
*.fdb_latexmk
*.fls
.tex.backup
/*.pdf
